{
    "id": 100,
    "dataset": {
        "path": "enron_dataset/enron1",
        "output": false,
        "generate": false,
        "filepath": "data/csv/raw_dataset.csv"
    },
    "preprocess": {
        "output_csv": false,
        "output_csv_filepath": "data/csv/clean_dataset.csv",
        "clean_dataset": false,
        "params": {
            "max_words": 1000,
            "max_len": 800,
            "mode": "tfidf",
            "read_csv": true,
            "read_csv_filepath": "data/csv/clean_dataset.csv",
            "classes": 2
        }
    },
    "model": {
        "params": {
            "batch_size": 128,
            "classes": 2,
            "epochs": 2,
            "hidden_layers": [800, 500, 300],
            "noise_layers": [0.6, 0.4],
            "pretraining_activation": "sigmoid",
            "pretraining_optimizer": "adadelta",
            "pretraining_loss": "mse",
            "finetune_activation": "softmax",
            "finetune_optimizer": "adadelta",
            "finetune_loss": "categorical_crossentropy"
        }
    }
}
