{% extends 'base.html' %}

{% block content %}
    <h1>Spam Classifier</h1>
    <form method="POST" id="form">
        {% csrf_token %}
        Subject:
        <br />
        <input id="subject" name="subject" type="text" placeholder="Subject" />
        <br />
        <br />
        Body:
        <br />
        <textarea id="body" name="body" minlength=1 rows="20" cols="60" placeholder="Body" required ></textarea>
        <br />
        <br />
        <input type="submit" value="Classify" />
    </form>
    <h3 id="label"></h3>
{% endblock %}

{% block js %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>

<script>
    $('#form').on('submit', function(e){
        e.preventDefault();
        classify();
    });

    function classify() {
        $('#label').text('HAM');
        $.ajax({
            url : 'classify/',
            type : 'POST',
            data : {
                subject : $('#subject').text(),
                body : $('#body').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success : function(json) {
                $('#label').text('');
                $('#label').text(json.label);
                console.log('WEW!!!');
            },
            error : function(xhr, errmsg, err) {
                // TODO: Display RIGTH error message
                $('#label').text('HAM');
                console.log('YO!!!');
            }
        });
    }
</script>
{% endblock %}
